---
import { render } from 'astro:content';
import type { Page } from "@/types";
import { generatePageSEO } from '@/utils/seo';
import BaseLayout from '@/layouts/BaseLayout.astro';
import SEO from '@/components/common/SEO.astro';
import ContainerWrapper from '@/components/layout/ContainerWrapper.astro';
import Breadcrumbs from '@/components/widgets/Breadcrumbs.astro';
import { getBreadcrumbsFromPath } from '@/utils/breadcrumbs';

export interface Props {
  page: Page;
}

const { page } = Astro.props;

// Process the page content
const { Content, headings } = await render(page);
const pageTitle = page.data.title;
const pageDesc = page.data.description;

// Generate SEO data
const seoData = generatePageSEO(page, Astro.url.href);

// Generate breadcrumbs for the page
const breadcrumbs = getBreadcrumbsFromPath(Astro.url.pathname);

---

<BaseLayout>
  <!-- SEO -->
  <SEO data={seoData} slot="seo" />

  <ContainerWrapper class="py-8">
    <!-- Back to previous -->
    <div class="animate">
      <!-- <BackToPrevious href="/">Back to Homepage</BackToPrevious> -->
       <Breadcrumbs items={breadcrumbs} />
    </div>

    <!-- Page Title -->
    <div class="animate mb-8">
      <h1 class="text-3xl font-bold text-content-primary mb-2">{pageTitle}</h1>
      <p class="text-content-muted">
        ${pageDesc}
      </p>
    </div>

    <article class="animate flex flex-col gap-y-10">
      <!-- Article content -->
      <div class="prose max-w-none" id="page-content">
        <Content />
      </div>
    </article>
  </ContainerWrapper>
</BaseLayout>